.sms-cardC{
    width: 90%; 
    
    background-color: rgb(231, 245, 250); 
    margin-left: 5%; 
    margin-top: 5%;
    transition: 0.5s;
  
}
.sms-cardC:hover{  
    transform: scale(1.05);
    background-color: rgb(255, 255, 255); 
}
.p1{
    
    margin-left: 30px;
     color: blue; 
     font-size: 20px; 
     font-weight: 600;  
}
.sms-card {

    width: 100%;
     display: flex; 
     flex-wrap: wrap;


}
.sms-cardButton{
    width: 200px; 
    height: 50px; 
    background-color: rgb(139, 184, 241);
     margin: 30px;
     padding-top: 30px;
     text-align: center; 
}


    .Pop-addWork{
  display: none;
  border-radius: 15px;
  top: 120px;
  left: 620px;
  position: absolute;
  width: 600px;
  height: 400px;
   background-color: rgb(86, 103, 148);
}
.sms-cardButton:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: aqua;
}
.SMS-jsc{
    overflow: scroll;
    width: 560px;
    height: 300px;

}
.pop-box{
    display: none;
    border-radius: 15px;
    top: 120px;
    left: 620px;
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: rgb(86, 103, 148);
}
.pop-box ul{
    background-color: azure;
}
.pop-box li{
    display: flex;
    background-color: aquamarine;
    margin-bottom: 15px;
}
.pop-box li div{
    width: 120px;
}
.li-bt{
    cursor: pointer;
}
